<div>

  <mat-card>
    <div class="d-flex items align center">
      <mat-icon class="text color green received icon mr-3">check_circle</mat-icon>
      <section class="mat-typography flex-2">
        <h3 class='mat-h2 mb-0'>Mandado Recibido!</h3>
      </section>
    </div>
  </mat-card>

</div>