<div class="d-flex">
  
  <mat-card class="fill width text align center">
    <mat-icon class="text color primary question icon mr-3">info</mat-icon>
    <section class="mat-typography">
      <h3 class='mat-h2 mb-0'>¿Este mandado terminó exitosamente?</h3>
    </section>
    <div class="text align center mt-3">
      <button mat-button class="text color green" (click)="onScore()">
        <mat-icon class="text color green">check_circle</mat-icon>
        Si
      </button>
    </div>
    <div class="text align center mt-4">
      <button mat-button color="warn" (click)="onScore()">
        <mat-icon color="warn">cancel_circle</mat-icon>
        No
      </button>
    </div>
  </mat-card>

</div>
