<div>

  <mat-card>
    <div class="d-flex items align center">
      <mat-icon class="text color green mr-3">check_circle</mat-icon>
      <section class="mat-typography flex-2">
        <h3 class='mat-h2 mb-0'>Mandado Finalizado!</h3>
      </section>
    </div>
  </mat-card>

  <mat-card class="text align center mt-5">
    <section class="mat-typography">
      <h3 class='mat-h2 mb-0'>¿Cómo te parece el servicio?</h3>
    </section>
    <div class="mt-5">
      <mat-icon (click)="onScore(1)" [ngClass]="{'score':true, 'star':true, 'mr-3':true, 'text':true, 'color':true, 'amber': score>0}">grade</mat-icon>
      <mat-icon (click)="onScore(2)" [ngClass]="{'score':true, 'star':true, 'mr-3':true, 'text':true, 'color':true, 'amber': score>1}">grade</mat-icon>
      <mat-icon (click)="onScore(3)" [ngClass]="{'score':true, 'star':true, 'mr-3':true, 'text':true, 'color':true, 'amber': score>2}">grade</mat-icon>
      <mat-icon (click)="onScore(4)" [ngClass]="{'score':true, 'star':true, 'mr-3':true, 'text':true, 'color':true, 'amber': score>3}">grade</mat-icon>
      <mat-icon (click)="onScore(5)" [ngClass]="{'score':true, 'star':true, 'mr-3':true, 'text':true, 'color':true, 'amber': score>4}">grade</mat-icon>
    </div>
  </mat-card>

</div>